<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>CPSC113 Todo</title>
</head>
<body>


    {{{body}}}

<footer>
    <a href="/user/logout">Logout</a>
    <a href="https://docs.google.com/document/d/1TEHifAuiioO-2uT0dbx5rxbRZIuR6zdAWLAhDKGbc-I/edit?usp=sharing">Dan's Crib Sheet</a>
</footer>
</body>
</html>
