<h1>Dan's Social To Do App: Home</h1>
    
<div>
    We currently have {{userCount}} users.  
    {{#if currentUser}}
        Your name is <b>{{currentUser.name}}</b>
    {{/if}}
</div>    



{{!-- Here be the error section if there is an error--}}
{{#if errors}}
<div style="color: red"> 
    {{errors}};
</div>
 {{/if}}   
    
<div>
    {{!--Below, the action="/user/login" is for one of the Tests, and the inputs are also from the tests --}}
    <form class="login-form" action="/user/login" method="POST">
        <label for="email">E-mail:</label>
        <input name="email" type="text"><br>
        <label for="password">Password:</label>
        <input name="password" type="text"><br>       

        <input type="submit">
    </form>
    
    
</div>

{{!--Below is adapted from Jason's Code Per 6:21 in the "Social todo add login forms to views video--}}
<div><hr></div>

<div>
    <form action="/user/register" method="post" class="signup-form" style="display: block;">
      <input name="fl_name" type="text" class="text-input" placeholder="First &amp; Surname">
      <input name="email" type="email" class="text-input" placeholder="E-mail">
      <input name="password" type="password" class="text-input" placeholder="Password">
      <input name="password_confirmation" type="password" class="text-input" placeholder="Password Confirmation">
      <div>
          <button class="blue sign-up-submit">Sign Up</button>
      </div>
    </form>
</div>
